<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./img/asset-favicon.ico">
    <title>社交-问答详情</title>

    <!-- 页面 css js -->
    <!-- <script type="text/javascript" src="../../plugins/sui/sui.min.js"></script> -->

    <link rel="stylesheet" type="text/css" href="./plugins/normalize-css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="./plugins/yui/cssgrids-min.css" />
    <link rel="stylesheet" type="text/css" href="./plugins/sui/sui.min.css" />
    <link rel="stylesheet" type="text/css" href="./plugins/sui/sui-append.min.css" />
    <link rel="stylesheet" type="text/css" href="./plugins/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/widget-base.css" />
    <link rel="stylesheet" type="text/css" href="./css/widget-head-foot.css" />
    <link rel="stylesheet" type="text/css" href="./css/page-sj-headline-detail.css" />
    <script type="text/javascript" src="js/host.js"></script>
     <script type="text/javascript" src="js/vue.min.js"></script>
     <script type="text/javascript" src="js/axios-0.18.0.min.js"></script>
</head>

<body>
    <div id="app">
    <div class="wrapper">
        <!--引用组件-->
        <!--头部导航-->
<header>
  <div class="sui-navbar">
    <div class="navbar-inner">
      <a href="index-logined.html" class="sui-brand"><img src="./img/asset-logo-black.png" alt="社交"/></a>
      <ul class="sui-nav">
        <li class="active"><a href="./headline-logined.html">头条</a></li>
        <li><a href="./qa-logined.html" >问答</a></li>
        <li><a href="./activity-index.html" >活动</a></li>
        <li><a href="./makeFriends-index.html" >交友</a></li>
        <li><a href="./spit-index.html" >吐槽</a></li>
        <li><a href="./recruit-index.html"  >招聘</a></li>
      </ul>
      <form class="sui-form sui-form pull-left">
        <input type="text" placeholder="输入关键词...">
        <span class="btn-search fa fa-search"></span>
      </form>
      <div class="sui-nav pull-right info">
          <li><a href="./other-notice.html" target="_blank" class="notice">通知</a></li>
          <li class="hover">
            <span class="fa fa-plus "></span>
            <ul class="hoverinfo">
              <li><i class="fa fa-share-alt" aria-hidden="true"></i> <a href="./headline-submit.html">去分享</a></li>
              <li><i class="fa fa-question-circle" aria-hidden="true"></i> <a href="./qa-submit.html" target="_blank">提问题</a></li>
              <li><i class="fa fa-comments" aria-hidden="true"></i><a href="./spit-submit.html" target="_blank">去吐槽</a></li>
              <li><i class="fa fa-heartbeat" aria-hidden="true"></i> <a href="./makeFriends-submit.html" target="_blank">发约会</a></li>
            </ul>
          </li>
          <li><a href="./person-homepage.html" target="_blank" class="homego"><img src="./img/widget-photo.png" alt="用户头像"></a></li> 
      </div>
  </div>
  </div>
  
</header>
    

    </div>
    <!--两列布局-->
    <div class="wrapper headline-content">
        <div class="fl left-list">
            <div class="problem-detail">
    <!-- title area  -->
    <div class="title-intro">
        <h2>{{ news.title }}</h2>
        <div class="operate">
            <span class="fl author">{{ news.author.username }}发布　　<span class="time">{{ news.create_time | filterA }}</span></span>
            <span class="fr " @click="collection_add(news.id)" v-if="col==false">收藏</span>
            <span class="fr " @click="collection_delete(news.id)" v-if="col">已收藏</span>
        </div>
        <div class="clearfix"></div>
        <div class="content">
            <p  class="text ell-2" v-html="news.content"></p>
        </div>
    </div>
    <!-- remark area -->
    <div class="answer-intro">
        <h4 class="answer-num">{{ news.comment_count }}条评论</h4>
        <div class="comment-box">
            <form class="comment-form sui-form form-inline">
                <img src="./img/widget-photo.jpg" alt="">
                <div class="input-prepend input-append input-box">
                    <input v-model="content" id="appendedPrependedInput" type="text" class="span2 input-fat real-box" placeholder="写下你的评论">
                    <a href="javascript:;" @click="on_submit(news.id)"><span class="add-on">提交</span></a>
                </div>
            </form>
        </div>
        <div class="remark-list">
            <ul class="lists">
                <li class="item" v-for="(comment,index) in news_comments">
                    <div class="fl img">
                        <img src="./img/widget-photo.jpg" alt="">
                    </div>
                    <div class="fl text">
                        <p class="author"><span class="name">{{ comment.user.username }}</span> 发布</p>
                        <p class="word">{{ comment.content }}</p>
                        <p class="tool"><a class="callback" @click="callback(index)">回复</a>&nbsp;<span class="remark-num" v-if="index != show_comments_index">{{ comment.child | filterB }}</span></p>
                    </div>
                    <div style="clear:both"></div>
                    <ul class="inner-list" v-if=" index == show_comments_index">
                        <li class="item" v-for="child in comment.child">
                            <div class="fl img">
                                <img src="./img/widget-photo.jpg" alt="">
                            </div>
                            <div class="fl text">
                                <p class="author"><span class="name">{{ child.user.username }}</span> 发布</p>
                                <p class="word">{{ child.content }}</p>
                            </div>
                            <div style="clear:both"></div>
                        </li>
                    </ul>
                    <div class="edit-box" v-if="index == show_comments_index">
                        <form class="comment-form">
                            <textarea row="1" v-model="child_content" placeholder="使用评论询问更多信息或提出修改意见，请不要在评论里回答问题"></textarea>
                            <button type="button" @click="child_submit(news.id,comment.id)" class="sui-btn submit-comment">提交评论</button>
                        </form>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>
        </div>
        <div class="fl right-tag">
            <div class="focus similar-problem">
    <div class="img-title">
        <div class="fl img">
            <img src="./img/widget-photo.jpg" alt="">
        </div>
        <div class="fl btn-focus">
            <h4>{{ news.author.username }}</h4>
            <button class="sui-btn btn-info btn-attention" id="att" v-if="att==false" @click="attention_add(news.author.id)">关注</button>
            <button class="sui-btn btn-info btn-attention" v-if="att" @click="attention_delete(news.author.id)">已关注</button>
        </div>
        <div class="clearfix"></div>
    </div>
    <ul class="problem-list">
        <li class="list-item" v-for="news,j in news.author.news" v-if="j<4">
            <a :href="'./headline-detail.html?news_id=' + news.id" style="text-decoration:none;color:#000000;">
            <p class="list-title">{{ news.title }}</p>
            </a>
        </li>
    </ul>
</div>
<div class="similar-problem">
    <h3 class="title">热门推荐</h3>
    <ul class="problem-list">
        <li class="list-item" v-for="hots in detail_hots">
            <a :href="'./headline-detail.html?news_id=' + hots.id" style="text-decoration:none;color:#000000;">
            <p class="list-title">{{ hots.title }}</p>
            </a>
        </li>
    </ul>
</div>
<div class="similar-problem">
    <h3 class="title">热门吐槽</h3>
    <ul class="problem-list">
        <li class="list-item" v-for="talks in detail_talks">
            <a :href="'./spit-detail.html?id=' + talks.id" style="text-decoration:none;color:#000000;">
            <p class="list-title">{{ talks.content }}</p>
            </a>
        </li>

    </ul>
</div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="footer">
        <div class="wrapper">
            <div class="footer-bottom">
    <div class="link">
        <dl>
            <dt>网站相关</dt>
            <dd>关于我们</dd>
            <dd>服务条款</dd>
            <dd>帮助中心</dd>
            <dd>编辑器语法</dd>
        </dl>
        <dl>
            <dt>常用链接</dt>
            <dd>传智播客</dd>
            <dd>传智论坛</dd>
        </dl>
        <dl>
            <dt>联系我们</dt>
            <dd>联系我们</dd>
            <dd>加入我们</dd>
            <dd>建议反馈</dd>
        </dl>
        <dl>
            <dt>关注我们</dt>
            <dd>微博</dd>
            <dd>twitter</dd>
        </dl>

        <div class="xuke">
            <h3>内容许可</h3>
            <p>除特别说明外，用户内容均采用知识共享署名-非商业性使用-禁止演绎4.0 国际许可协议 (CC BY-NC-ND 4.0) 进行许可</p>
            <p>本站由 传智研究院 提供更新服务</p>
        </div>
    </div>


    <p class="Copyright">Copyright © 2017 传智问答社区 当前版本 0.0.1</p>
</div>
        </div>

    </div>
    </div>




<script>
// $(function(){
//   $(".hover").hover(function(){
//     $(".hoverinfo").stop().animate({
//        opacity: "show"
//     },"slow");
//     $(this).find(".fa-plus").css("color","#e64620");
//   },function(){
//     $(".hoverinfo").stop().animate({
//        opacity: "hide"
//     },"slow");
//     $(this).find(".fa-plus").css("color","#000");
//   })
// })


    // $(function () {
    //     $(".callback").click(function () {
    //         $(this).parents(".text").siblings(".edit-box").toggle();
    //     });
    // })



    // var onOff = true;
    // $(".btn-attention").click(function () {
    //     if ($(this).onOff) {
    //         $(this).text("关注");
    //         $(this).css({"color":"#e64620","cursor":"not-allowed","background":"#f5f5f5","border-color": "#f5f5f5f5"})
    //         $(this).onOff = false;
    //     } else {
    //         $(this).text("已关注");
    //         $(this).css("color", "#999");
    //         $(this).onOff = true;
    //     }
    // })
</script>
</body>
<script type="text/javascript" src="js/headline-detail.js"></script>
</html>